body {
    background-color:mediumpurple;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#h1 {
    color: orange;
}
.container {
    border: 5px solid whitesmoke;
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    cursor: pointer; 
    background-image: url(cat.png);
   
}
#imageContainer {
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}